.App {
  text-align: center;
}

.menu {
  padding-bottom: 20px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

li {
  list-style: none;
  cursor: pointer;
  margin-right: 50px;
}
.active {
  border-bottom: 3px solid white;
}
.date {
  color: #4e4c4c;
  font-size: 15px;
  font-weight: 500;
}
.conducteur {
  font-size: 15px;
}
.info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.adresse {
  font-size: 15px;
}
.info {
  font-size: 15px;
  color: rgb(44, 43, 43);
}
.carte_accueil {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.row {
  margin-top: 50px;
  justify-content: center;
}
.contenair {
  display: flex;
  justify-content: center;
}
img {
  height: 200px;
  object-fit: cover;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cover {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  width: 232px;
  height: 190px;
  color: white;
  font-size: 25px;
  background-color: rgba(98, 96, 96, 0.452);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bouton {
  margin: 30px;
}
.titre {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.colone {
  height: 200px;
  display: flex;
  background-color: white;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

select {
  height: 50px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
}
.valider {
  height: 40px;
  width: 150px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
  background-color: rgb(0, 132, 255);
  margin-left: 20px;
  margin-right: 20px;
}

.carte {
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-top: 45px;
  font-size: 25px;
}

.App-header {
  background-color: #271c5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: white;
  height: 110px;
  width: 1200px;
  margin-top: 10px;
  background-image: url("http://www.freitas.fr/images/logo.svg");
  background-repeat: no-repeat;
}

.username {
  height: 40px;
  width: 280px;
  font-size: 25px;
}
input {
  border-radius: 5px;
  border-width: 1.1px;
  border-style: solid;
  border-color: gray;
}
.golbalcontent {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modalContenaire {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}
.formulaireContenair {
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
  height: 600px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.QRC {
  margin-top: 20px;
}

.password {
  height: 25px;
  width: 250px;
  font-size: 20px;
  margin-bottom: 40px;
}
.headerTitle {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 500;
  width: 400px;
}
.liste {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #271c5f;
  color: white;
  border-radius: 5px;
  width: 250px;
  height: 100px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.App-link {
  color: #61dafb;
}

@media print {
  body * {
    visibility: hidden;
  }

  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }

  #section-to-print {
    position: absolute;
    zoom: 150%;
  }
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  .App-header {
    width: 100%;
    font-size: 18px;
    background-size: 150px;
  }
  h1 {
    margin-top: 45px;
    font-size: 18px;
  }
}
